@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Pacifico&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', sans-serif;
}

body {
  background: rgb(187, 160, 165);
}

h1, h4, p, 
a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  background-color: rgb(241, 175, 213);
  color: rgb(43, 40, 42);
  border: 1px solid rgb(43, 40, 42);
  font-weight: 600;
  cursor: pointer;
}

.btn-light {
  background: transparent;
  color: rgb(43, 40, 42);  
}

.btn:hover {
  background-color: rgb(83, 75, 81);
  color: white;
  transition: 0.3s;
}